<h1>Cadastro de Ideia</h1>
<form>
	Nome da Ideia: <input type="text" name="NomeIdeia" required="true"><br>
	Prazo da Ideia: <input type="date" name="PrazoIdeia" required="true"><br>
	Descrição da Ideia: <textarea name="DescricaoIdeia" required="true"></textarea>
</form>
