<!DOCTYPE html>
<html>
<head>
	
	<h1>Tela Inicial</h1>

</head>
<body>

<p>Escolha a opção desejada:</p>


<button onclick="window.location.href='/ideia/cadastro'">Cadastrar Ideia</button>
<button onclick="myFunction()">Minhas Ideias</button>
<button onclick="myFunction()">Meu Perfil</button>
<button onclick="myFunction()">Deslogar</button>

<script>
function myFunction() {
    alert("Funcionalidade em desenvolvimento!");
}
</script>

</body>
</html>

